* {
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  min-width: 100vw;
  max-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#outer-container {
  margin: auto;
  width: 100%;
  max-width: 600px;
  border: 1px solid #f1f1f1;
  border-top: none;
}

/* ---- header content ---- */

#header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 0;
}

.arrow {
  padding: 0 20px;
}

.arrow img {
  height: 12px;
}

.arrow:hover {
  cursor: pointer;
}

.user-content {
  padding: 0 20px;
}

.name {
  font-size: 20px;
  font-weight: 700;
}

.name > span {
  padding-left: 5px;
  color: rgb(29, 161, 242);
}

.small-bold > span {
  color: rgb(29, 161, 242);
}

#tweet-count {
  margin: 0px;
  margin-bottom: 5px;
}

/* ---- photo content ---- */

#photo-container {
  height: 275px;
}

.avatar-follow {
  display: flex;
  justify-content: space-between;
}

.avatar-img {
  padding-left: 15px;
  position: relative;
  top: -75px;
}

.avatar-img > img {
  width: 140px;
  height: auto;
  border-radius: 50%;
  border: 4px solid white;
}

button {
  height: 40px;
  width: 110px;
  border-radius: 40px;
  color: white;
  background-color: rgb(32, 170, 250);;
  border: none;
  font-weight: 700;
  font-size: 15px;
}

#follow-button {
  margin-top: 10px;
  margin-right: 15px;
}

/* ---- profile content ---- */

#profile-container {
  padding: 0 16px;
}

.light-gray {
  color: #5f6f7f;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .02rem;
}

.small-bold {
  font-size: 15px;
  font-weight: 700;
}

.join-date {
  padding: 10px 0;
}

.follow-container {
  display: flex;
  padding-bottom: 30px;
}

.followers {
  padding: 0 15px;
}

/* ---- tabs content ---- */

#tabs-container {
  display: flex;
}

.tab {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
  font-weight: 700;
  font-size: 15px;
  padding: 5px 0 15px 0;
}

.tab:hover {
  cursor: pointer;
  color: rgb(29, 161, 242);
  background-color: rgba(29, 160, 242, 0.137);
  border-bottom: 2px solid rgb(29, 161, 242);
}

.active {
  color: rgb(29, 161, 242);
  background-color: rgba(29, 160, 242, 0.137);
  border-bottom: 2px solid rgb(29, 161, 242);
}

/* ---- tweet content ---- */

#tweets-container {
  padding-bottom: 35px;
}

.tweet-div {
  display: flex;
  padding: 25px 0;
  border-top: 1px solid #f1f1f1;
}

.tweet-avatar > img {
  margin: 0 15px;
  width: 60px;
  height: auto;
  border-radius: 50%;
  border: 4px solid white;
}

.tweets-inner-container {
  padding-bottom: 5px;
  margin: auto 0;
}

.tweets {
  display: flex;
}

.tweet {
  padding-left: 5px;
}

.tweet-body {
  padding-top: 5px;
  font-size: 14px;
  color: #2f2f2f;
  font-weight: 400;
  letter-spacing: .01rem;
}

/* -- switch user content -- */

.switch-users {
  display: flex;
}

.switch > button {
  margin: 10px;
}